.root {
  height: 100%;
  min-width: 60rem;
  max-width: 80rem;
  margin: mui-spacing(4) auto;
  background-color: mui-theme(palette-primary-main);
  border: mui-spacing(1) solid mui-theme(palette-primary-light);
  border-radius: mui-spacing(4);
  padding: mui-spacing(2);

  .spinnerContainer {
    float: left;
    height: 288px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: mui-spacing(4);
  }

  .box {
    max-height: 0;
    height: 100%;
    text-align: justify;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: run;
    animation-timing-function: linear;
    color: white;

    .primary {
      font-size: 3rem;
    }

    .secondary {
      margin-top: mui-spacing(1);
      font-size: 2rem;
    }

    .description {
      font-size: 1.1rem;

      div {
        margin-top: mui-spacing(1);
      }

      a:link,
      a:visited,
      a:active {
        font-weight: bold;
        color: mui-theme(palette-secondary-main);
      }
    }

    .todo {
      clear: left;
      font-size: 1.3rem;
      margin-top: mui-spacing(3);

      ul {
        li {
          font-size: 1.1rem;
        }
      }
    }
  }
}
