.home {
  display: flex;
  flex-direction: column;

  .introduction {
    width: 50vw;
    margin: mui-spacing(8) auto 0 auto;
    border: mui-spacing(1) solid mui-theme(palette-primary-light);
    border-radius: mui-spacing(4);
    padding: mui-spacing(2);
    background: mui-theme(palette-common-black);

    .logo {
      @media screen and (max-width: 768px) {
        display: none;
      }

      @media screen and (min-width: 768px) {
        float: left;
        margin: 0 mui-spacing(2) 0 0;

        width: mui-spacing(20);
        height: mui-spacing(10);
      }
    }

    .note {
      padding-top: mui-spacing(1);
    }
  }

  .wheel-of-components {
    @media screen and (min-width: 768px) {
      width: 672px;
      margin: mui-spacing(12) auto;
      border: mui-spacing(1) solid mui-theme(palette-primary-light);
      border-radius: mui-spacing(4);
      padding: mui-spacing(2);
      background-color: mui-theme(palette-common-black);

      .component {
        .description {
          p {
            padding-top: 0.5rem;
          }
        }
      }
    }

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}
