.spinner {
  height: 18rem;
  display: flex;
  background: mui-theme(palette-common-black);

  .wheel {
    width: 288px;
    height: 288px;
    position: relative;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: magenta;

    .iconContainer {
      animation-name: rotate;
      animation-direction: normal;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-play-state: run;
      animation-timing-function: linear;
      transform-origin: center;
      width: 288px;
      height: 288px;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;

      .iconBox {
        width: 144px;
        height: 30px;
        transform-origin: center right;
        position: absolute;
        top: 129px;

        .iconInner {
          width: 30px;
          height: 30px;
          margin-left: 8px;

          .icon {
            animation-name: rotate;
            animation-direction: reverse;
            animation-fill-mode: forwards;
            animation-iteration-count: infinite;
            animation-play-state: run;
            animation-timing-function: linear;
            background-size: cover;
            font-size: 20px;
            width: 30px;
            height: 30px;
            color: mui-theme(palette-common-white);
          }
        }
      }
    }

    .pie {
      height: 288px;
      width: 288px;
      position: relative;
      border-radius: 50%;
      overflow: hidden;
      background: mui-theme(palette-secondary-main);

      .segment {
        height: 100%;
        width: 100%;
        position: absolute;
        transform-origin: 50% 100%;
        background: mui-theme(palette-secondary-dark);
      }
    }
  }

  .descriptions {
    flex: 1;
    position: relative;
  }

  .box {
    position: absolute;
    left: 2rem;
    max-height: 0;
    height: 100%;
    text-align: justify;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: run;
    animation-timing-function: linear;
    color: white;

    .primary {
      font-size: 3rem;
    }

    .secondary {
      margin-top: mui-spacing(1);
      font-size: 2rem;
    }

    .description {
      font-size: 1.1rem;

      div {
        margin-top: mui-spacing(1);
      }

      a:link,
      a:visited,
      a:active {
        font-weight: bold;
        color: mui-theme(palette-secondary-main);
      }
    }

    .todo {
      clear: left;
      font-size: 1.3rem;
      margin-top: mui-spacing(3);

      ul {
        li {
          font-size: 1.1rem;
        }
      }
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
