<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/assets/favicon.png" rel="icon" type="image/x-icon" />
        <title>Internal Server Error (500)</title>
        <style type="text/css">
            .error-page {
                text-align: center;
                padding: 50px 0;
                border-bottom: 1px solid #000;
                line-height: 80px;
            }
        </style>
    </head>
    <body>
        <article class="error-page">
            <img src="/assets/error/500.png" alt="404" />
            <h2>
                The API has crashed
            </h2>
        </article>
    </body>
</html>