.root {
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 24px);
  background-color: transparent;
  background-image: url('/assets/logo.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;

  animation-name: rotate;
  animation-direction: normal;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0);
  }
  20% {
    transform: rotateZ(90deg);
  }
  25% {
    transform: rotateZ(90deg);
  }
  45% {
    transform: rotateZ(180deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  70% {
    transform: rotateZ(270deg);
  }
  75% {
    transform: rotateZ(270deg);
  }
  95% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
