<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="{{favicon}}" rel="icon" type="image/x-icon" />
        <title>{{title}}</title>
        <style type="text/css">body { margin: 0; }</style>
        <link href="https://fonts.googleapis.com/css?family=Noto Sans:300,300i,400,400i,700,700i,900&display=swap" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="/dist/main.css" />
        {{{preload}}}
        <script src="/dist/packages-main.js"></script>
        <script src="/dist/main.js"></script>
    </head>
    <body>
    </body>
</html>