.icon {
    position: absolute;
    top: calc(50% - 24px);
    left: calc(50% - 24px);
    background-color: transparent;
    background-image: url("/assets/logo-error.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;

    &.animated {
        animation-name: flip-diagonal;
        animation-direction: normal;
        animation-duration: 5s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

@keyframes flip-diagonal {
    0%    { transform: rotate3d(-1, 1, 0, 0deg)    rotate(0deg);   }
    20%   { transform: rotate3d(-1, 1, 0, 0deg)    rotate(90deg);  }
    25%   { transform: rotate3d(-1, 1, 0, 0deg)    rotate(90deg);  }
    45%   { transform: rotate3d(-1, 1, 0, 180deg)  rotate(90deg);  }
    50%   { transform: rotate3d(-1, 1, 0, 180deg)  rotate(90deg);  }
    70%   { transform: rotate3d(-1, 1, 0, 180deg)  rotate(0deg); }
    75%   { transform: rotate3d(-1, 1, 0, 180deg)  rotate(0deg); }
    95%   { transform: rotate3d(-1, 1, 0, 0deg)    rotate(0deg); }
    100%  { transform: rotate3d(-1, 1, 0, 0deg)    rotate(0deg); }
}

.message {
    position: absolute;
    top: calc(50% - 56px);
    left: calc(50% - 128px);
    width: 256px;
    color: mui-theme(palette-error-main);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.description {
    position: absolute;
    top: calc(50% + 56px);
    left: calc(50% - 128px);
    width: 256px;
    color: mui-theme(palette-common-black);
    font-size: 14px;
    text-align: center;
}