.movement-controls {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  .human {
    margin: 0 2rem;

    .row {
      text-align: center;
    }
  }

  .maze {
    margin: 0 2rem;
  }

  button {
    font-size: 2rem;
  }
}
