.phase-controls {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stepper {
  margin-bottom: mui-spacing(2);

  width: 100%;
  .step {
    .label {
      .button {
        padding: 0;

        .content {
          width: 100%;
          display: flex;
          flex-direction: column;

          .icon {
            font-size: 0.75rem;
          }

          .caption {
            font-size: 1rem;
            text-transform: none;
          }
        }
      }

      :global(.MuiStepLabel-label) {
        margin: 0;
      }
    }
  }
}
