<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="assets/favison.ico" rel="icon" type="image/x-icon" />
        <title>Page not found (404)</title>
        <style type="text/css">
            .error-page {
                text-align: center;
                padding: 50px 0;
                border-bottom: 1px solid #000;
                line-height: 80px;
            }
        </style>
    </head>
    <body>
        <article class="error-page">
            <img src="/assets/error/404.png" alt="404" />
            <h2>
                Sorry, but we couldn't find the API page you're looking for!
            </h2>
        </article>
    </body>
</html>