<!DOCTYPE html>
<html>
    <head>
        <title>Lasciate ogne speranza, voi ch'intrate</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="<%= favicon %>" rel="icon" type="image/x-icon" />
        <style type="text/css">
            body {
                background-image: url('/assets/flames-background_1.jpg');
                background-repeat: repeat; 
            }

            body > div {
                margin: 3em;
                padding: 1em;
                background: black;
                color: white;
            }

            body > div > p {
                font-size: large;
            }

            body > div > p:first-letter {
                font-size: x-large;
            }

            a, a:visited {
                color: #FF8888;
            }

            h1 > div {
                font-size: medium;
                font-style: italic;
            }

            button {
                display: block;
                font-size: xx-large;
                background: red;
                color: white;
                margin: auto;
            }
        </style>
        <script type="text/javascript">
            function peril() {
                document.cookie = "peril=accepted; expires=Fri, 31 Dec 3999 12:00:00 UTC; path=/";
                location.reload();
            }
        </script>
    </head>
    <body>
        <div>
            <h1>All Hope Abandon, Ye Who Enter Here</h1>
            <p> 
                In the year 1314
                <a target="_blank" href="https://en.wikipedia.org/wiki/Dante_Alighieri">Dante Alighieri</a>
                wrote the epic poem
                <a target="_blank" href="https://en.wikipedia.org/wiki/Divine_Comedy#Inferno">Inferno</a>,
                which tells the story of his descent into the Nine Circles of Hell.
                In the <%= years %> years since then, Hell has undergone numerous renovations in order
                to keep up with modern times and modern sins.
            </p>
            <p>
                Within the sixth circle now lies a luxurious tower which, in contrast to the majority of Hell,
                has every imaginable modern convenience: a library containing the totality of mankind's knowledge, access
                to every work of art created through the ages, and the ability to instantly communicate with anyone throughout
                time.
            </p>
            <p>
                The denziems of this tower are forever cursed to eternal torture, for nothing within the tower works correctly.
                These souls are forever plagued by distorted images, cryptic error messages, and buttons that don't do anything when clicked.
                It would have been quite easy to repent, and rectify their mistakes, but they must forever regret commiting the sin of...
            </p>
            <h1>
                Pasco usus antiqua
                <div>(using an outdated browser)</div>
            </h2>
            <p>
                Your soul is at risk! You can seek atonement by visiting one of these friendly dieties: 
                <a target="_blank" href="https://www.google.com/chrome/">Chrome</a>
                <a target="_blank" href="https://www.microsoft.com/edge">Edge</a>
                <a target="_blank" href="https://mozilla.org/firefox">Firefox</a>.
                It's not too late.
            </p>
            <p>
                Or, those too foolhearty to take this risk wholeheartedly may proceed and risk eternal damnation.
            </p>
            <button onclick="peril()">I'm willing to enter, and aware of the perlious peril</button>
        </div>
        <!--img src="/assets/Houghton_Library_Inc_4877_(A),_c_ii_verso.png" alt="By Pico Master, active 1460-1505 - Inc 4877 (B), Houghton Library, Harvard University., Public Domain" /-->
    </body>
</html>