.password-validation {
    .validation {
        padding: mui-spacing(0.5) mui-spacing(2) 0 mui-spacing(2);


        .strength {
            display: flex;
            flex-direction: column;

            .header {
                display: flex;
                flex-direction: row;

                .title {
                    flex-grow: 1;
                }
            }

            .meter {
                display: flex;
                flex-direction: row;
                height: mui-spacing(1);

                .bar {
                    flex-grow: 1;
                    border: 1px solid mui-theme(palette-grey-A200);

                    &:not(:last-child) {
                        margin-right: mui-spacing(1);
                    }
                }
            }
        }

        .rules {
            display: grid;
            grid-template-columns: mui-spacing(3) 1fr;
            grid-gap: mui-spacing(1) 0;

            .good, .bad {
                width: 18px;
                height: 18px;
            }

            .good {
                color: mui-theme(palette-success-main);
            }

            .bad {
                color: mui-theme(palette-error-main);
            }
        }
    }
}