.outer {
  margin: mui-spacing(12) auto 0 auto;
  max-width: 480px;
  background: mui-theme(palette-background-paper);

  .inner {
    display: flex;
    flex-direction: column;
    padding: mui-spacing(4);
  }

  .jump {
    margin-top: mui-spacing(2);
  }
}
