.chaos {
    position: relative;
    background-color: mui-theme(palette-primary-light);

    .compute {
        position: absolute;
        z-index: 12;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 300px;
        background-color: mui-theme(palette-secondary-light);
        border: mui-spacing(5) solid mui-theme(palette-secondary-main);
        border-radius: 50%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .op {
            color: mui-theme(palette-secondary-contrastText);
            font-size: 1.00rem;
            margin: 0 0 mui-spacing(1) 0;
        }
    
        .text {
            color: mui-theme(palette-secondary-contrastText);
            font-size: 1.25rem;
            margin: 0 0 mui-spacing(2) 0;
        }
    }

    .canvas {
        position: absolute;
        border: none;
        padding: 0;
        margin: 0;
        z-index: 10;
    }

    .overlay {
        position: absolute;
        border: none;
        padding: 0;
        margin: 0;
        z-index: 11;
        background-color: transparent;
    }
}