.footer {
  display: flex;
  flex-direction: row;
  height: mui-spacing(3);
  width: 100vw;
  margin-left: mui-spacing(1);

  .display {
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;
  }
}
